<!-- <div class="timeline-item" ng-repeat="item in newsMessages">
	<div class="row">
	    <div class="col-xs-3 date">
	        <i class="fa fa-info-circle fa-lg"></i>
	       	{{item.createdDate | date}}
	        <br/>
	        <small class="text-navy" am-time-ago="item.createdDate"></small>
	    </div>
	    <div class="col-xs-7 content no-top-border">
	        <p ng-bind-html="item.chatMessage | htmlConvert"></p>
	    </div>
	</div>
</div> -->
<div id="vertical-timeline" class="vertical-container dark-timeline">
    <div class="vertical-timeline-block" ng-repeat="item in newsMessages">
        <div class="vertical-timeline-icon blue-bg">
            <i class="fa fa-info-circle "></i>
        </div>

        <div class="vertical-timeline-content" >
            <p ng-bind-html="item.chatMessage | htmlConvert"></p>
                <span class="vertical-date">
                    {{item.createdDate | date : 'HH:mm dd.MM.yyyy'}} <br/>
                    <small class="text-navy" am-time-ago="item.createdDate"></small>
                </span>
        </div>
    </div>
</div>
