<div class="col-lg-4">
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <a ui-sref=news-{{type}}><h5 translate="news.type.{{type}}">ESPI</h5></a>
                        <ibox-tools hide-tools="false"></ibox-tools>
                    </div>
                    <div class="ibox-content inspinia-timeline">
                        <div id="vertical-timeline" class="vertical-container dark-timeline">
                            <div class="vertical-timeline-block" ng-repeat="item in newsMessages">
                                <div class="vertical-timeline-icon blue-bg">
                                    <i class="fa fa-info-circle "></i>
                                </div>

                                <div class="vertical-timeline-content" >
                                    <p ng-bind-html="item.chatMessage | htmlConvert"></p>
                                    <span class="vertical-date">
                                        {{item.createdDate | date : 'HH:mm dd.MM.yyyy'}} <br/>
                                        <small class="text-navy" am-time-ago="item.createdDate"></small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

