######################
# Project Specific
######################
/gpw_radar/src/main/webapp/dist

######################
# Node
######################
/gpw_radar/node/**
/gpw_radar/node_modules/**

######################
# SASS
######################
/gpw_radar/*.sass-cache/**

######################
# Eclipse
######################
*.pydevproject
/gpw_radar/.project
/gpw_radar/.metadata
/gpw_radar/bin/**
/gpw_radar/tmp/**
/gpw_radar/tmp/**/*
/gpw_radar/*.tmp
/gpw_radar/*.bak
/gpw_radar/*.swp
/gpw_radar/*~.nib
/gpw_radarlocal.properties
/gpw_radar/.classpath
/gpw_radar/.settings/**
/gpw_radar/.loadpath
/gpw_radar/src/main/resources/rebel.xml

.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
/gpw_radarlocal.properties
.classpath
.settings/**
.loadpath
src/main/resources/rebel.xml

# External tool builders
/gpw_radar/.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
/gpw_radar/*.launch

# CDT-specific
/gpw_radar/.cproject

# PDT-specific
/gpw_radar/.buildpath

*.pydevproject
/technical_analysis/.project
/technical_analysis/.metadata
/technical_analysis/bin/**
/technical_analysis/tmp/**
/technical_analysis/tmp/**/*
/technical_analysis/*.tmp
/technical_analysis/*.bak
/technical_analysis/*.swp
/technical_analysis/*~.nib
/gpw_radarlocal.properties
/technical_analysis/.classpath
/technical_analysis/.settings/**
/technical_analysis/.loadpath
/technical_analysis/src/main/resources/rebel.xml

# External tool builders
/technical_analysis/.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
/technical_analysis/*.launch

# CDT-specific
/technical_analysis/.cproject

# PDT-specific
/technical_analysis/.buildpath

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

/gpw_radar/.idea/**
/gpw_radar/*.iml
/gpw_radar/*.iws
/gpw_radar/*.ipr
/gpw_radar/*.ids
/gpw_radar/*.orig

/technical_analysis/.idea/**
/technical_analysis/*.iml
/technical_analysis/*.iws
/technical_analysis/*.ipr
/technical_analysis/*.ids
/technical_analysis/*.orig

######################
# Maven
######################
/gpw_radar/log/**
/gpw_radar/target/**
/gpw_radar/.mvn

######################
# Gradle
######################
.gradle/**

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
/gpw_radar/Thumbs.db

# Folder config file
/gpw_radar/Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
/gpw_radar/build/**
/gpw_radar/bin/**
/gpw_radar/spring_loaded/**
/gpw_radar/deploy/**

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# bower components
######################
/gpw_radar/src/main/webapp/bower_components


######################
# technical idicators project
######################
/technical_analysis/build/**
/technical_analysis/bin/**
/technical_analysis/spring_loaded/**
/technical_analysis/deploy/**
/technical_analysis/log/**
/technical_analysis/target/**

**/.idea
