######################
# Project Specific
######################
/web_app/gpw_radar/src/main/resources/static/dist

######################
# Node
######################
/web_app/gpw_radar/node/**
/web_app/gpw_radar/node_modules/**

######################
# SASS
######################
/web_app/gpw_radar/*.sass-cache/**

.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
/gpw_radarlocal.properties
.classpath
.settings/**
.loadpath
src/main/resources/rebel.xml

# External tool builders
/web_app/gpw_radar/.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
/web_app/gpw_radar/*.launch

# CDT-specific
/web_app/gpw_radar/.cproject

# PDT-specific
/web_app/gpw_radar/.buildpath

*.pydevproject
/web_app/technical_analysis/.project
/web_app/technical_analysis/.metadata
/web_app/technical_analysis/bin/**
/web_app/technical_analysis/tmp/**
/web_app/technical_analysis/tmp/**/*
/web_app/technical_analysis/*.tmp
/web_app/technical_analysis/*.bak
/web_app/technical_analysis/*.swp
/web_app/technical_analysis/*~.nib
/web_app/gpw_radarlocal.properties
/web_app/technical_analysis/.classpath
/web_app/technical_analysis/.settings/**
/web_app/technical_analysis/.loadpath
/web_app/technical_analysis/src/main/resources/rebel.xml

# External tool builders
/web_app/technical_analysis/.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
/web_app/technical_analysis/*.launch

# CDT-specific
/web_app/technical_analysis/.cproject

# PDT-specific
/web_app/technical_analysis/.buildpath

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

**/.idea/**
**/*.iml
**/*.iws
**/*.ipr
**/*.ids
**/*.orig

######################
# Maven
######################
**/log/**
**/target/**
**/.mvn

######################
# Gradle
######################
.gradle/**

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
/web_app/gpw_radar/Thumbs.db

# Folder config file
/web_app/gpw_radar/Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
**/build/**
**/bin/**
**/spring_loaded/**
**/deploy/**

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# bower components
######################
**/bower_components


######################
# technical idicators project
######################
**/build/**
**/bin/**
**/spring_loaded/**
**/deploy/**
**/log/**
**/target/**

**/.idea
**/target

/web_app/gpw_radar/data/**