<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <ul class="nav navbar-top-links navbar-right" ng-switch="isAuthenticated()">
            <li ng-switch-when="true" has-authority="ROLE_ADMIN" class="dropdown pointer">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
	                 <span>
	                     <span class="fa fa-university"></span>
	                     <span class="hidden-tablet" translate="global.menu.admin.main">Admin</span>
	                     <b class="caret"></b>
	                 </span>
                </a>
                <ul class="dropdown-menu">
                	<li ui-sref-active="active"><a ui-sref="configurator"><span class="fa fa-gears"></span>
                        &#xA0;<span translate="global.menu.admin.configurator">Configurator</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="user-management" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="fa fa-user"></span>
                            &#xA0;<span translate="global.menu.admin.user-management">User management</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="metrics"><span class="fa fa-tachometer"></span>
                        &#xA0;<span translate="global.menu.admin.metrics">Metrics</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="health"><span class="fa fa-heartbeat"></span>
                        &#xA0;<span translate="global.menu.admin.health">Health</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="configuration"><span class="fa fa-wrench"></span>
                        &#xA0;<span translate="global.menu.admin.configuration">Configuration</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="audits"><span class="fa fa-bell"></span>
                        &#xA0;<span translate="global.menu.admin.audits">Audits</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="logs"><span class="fa fa-tasks"></span>
                        &#xA0;<span translate="global.menu.admin.logs">Logs</span></a></li>
                    <li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="fa fa-book"></span>
                        &#xA0;<span translate="global.menu.admin.apidocs">API</span></a></li>
                </ul>
            </li>
            <li class="dropdown pointer">
                <a class="dropdown-toggle count-info-msg" ui-sref="chat">
                    <i class="fa fa-comments-o"></i><span class="label label-danger">{{countUsers}}</span>
                    &#xA0;<span translate="global.menu.chat">Chat</span>
                </a>
            </li>
            <li class="dropdown pointer">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
	                <span>
	                    <span class="fa fa-user-secret"></span>
	                    <span translate="global.menu.account.main">Account</span>
	                    <b class="caret"></b>
	                </span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-switch-when="true"><a ui-sref="settings"><span class="fa fa-wrench"></span>
                        &#xA0;<span translate="global.menu.account.settings">Settings</span></a></li>
                    <li ng-switch-when="true"><a ui-sref="password"><span class="fa fa-lock"></span>
                        &#xA0;<span translate="global.menu.account.password">Password</span></a></li>
                    <li ng-switch-when="true"><a ui-sref="sessions"><span class="fa fa-cloud"></span>
                        &#xA0;<span translate="global.menu.account.sessions">Sessions</span></a></li>
                    <li ng-switch-when="true"><a ui-sref="administrationPanel"><span class="fa fa-briefcase"></span>
                        &#xA0;<span translate="global.menu.account.administrationPanel">Administration Panel</span></a></li>
                    <li ng-switch-when="true"><a ng-click="logout()"><span class="fa fa-sign-out"></span>
                        &#xA0;<span translate="global.menu.account.logout">Log out</span></a></li>
                    <li ng-switch-when="false"><a ui-sref="login"><span class="fa fa-sign-in"></span>
                        &#xA0;<span translate="global.menu.account.login">Log in</span></a></li>
                    <li ng-hide="inProduction" ng-switch-when="false"><a ui-sref="register"><span class="fa fa-user-plus"></span>
                        &#xA0;<span translate="global.menu.account.register">Register</span></a></li>
                </ul>
            </li>
            <li class="dropdown pointer" ng-controller="LanguageController">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                    <span>
                        <span class="fa fa--flag"></span>
                        <span class="hidden-tablet" translate="global.menu.language">Language</span>
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li active-menu="{{language}}" ng-repeat="language in languages">
                        <a href="" ng-click="changeLanguage(language)" data-toggle="collapse" data-target=".navbar-collapse.in">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
        </ul>

    </nav>
</div>
