<table class="table table-striped ">
    <thead>
    <tr>
        <th><span translate="stock.ticker">Ticker</span></th>
        <th><span translate="stock.change">Percent return</span></th>
        <th><span translate="stock.list.follow">Follow</span></th>
        <th><span translate="stock.list.externalwebsites">External websites</span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="stockIndicators in trendingStocks">
        <td>{{stockIndicators.stockTicker}}</td>
        <td>{{stockIndicators.percentReturn | number:2}}%</td>
        <td>
            <follow-stock id="stockIndicators.stockId"></follow-stock>
        </td>
        <td><a href="http://stooq.pl/q/a/?s={{stockIndicators.stockTicker}}"
               target="_blank" translate="stock.list.technical">A. technical</a> <br>
            <a
                href="http://www.stockwatch.pl/gpw/{{stockIndicators.stockShortName}},komunikaty,wyniki.aspx"
                target="_blank" translate="stock.list.fundamental">A. fundamental</a>
        </td>
    </tr>
    </tbody>
</table>
