<div>
	<div id="conversationDiv">
	    <label>What is your name?</label><input type="text" id="name" ng-model="msg"/>
	    <button id="sendName" ng-click="sendDataToWS(msg);">Send</button>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox chat-view">
                <div class="ibox-title">
                    Chat room panel
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-9 ">
                            <div class="chat-discussion" scroll-glue>
                                <div class="chat-message" ng-repeat="item in messages track by $index">
                                    <img class="message-avatar" src="assets/images/default-user.png" alt="" >
                                    <div class="message">
                                        <a class="message-author" href="#"> {{item.userLogin}} </a>
                                        <span class="message-date"> {{item.createdDate | date}} </span>
                                            <span class="message-content">
												{{item.message}}
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="chat-users">
                                <div class="users-list">
                                    <div class="chat-user" ng-repeat="user in users track by $index">
                                        <img class="chat-avatar" src="assets/images/default-user.png" alt="" >
                                        <div class="chat-user-name">
                                            <a href="#">{{user}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="chat-message-form">
                                <div class="form-group">
                                    <textarea class="form-control message-input" name="message" placeholder="Enter message text"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>