
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myStockLabel" translate="gpwradarApp.stock.home.createOrEditLabel">Create or edit a Stock</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label translate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="stock.id" readonly>
        </div>

        <div class="form-group">
            <label translate="gpwradarApp.stock.y" for="field_y">Y</label>
            <select class="form-control" name="y" ng-model="stock.y" id="field_y" required>
               <option value="wig20">wig20</option>
            </select>

            <div ng-show="editForm.y.$invalid">
                <p class="help-block"
                    ng-show="editForm.y.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="gpwradarApp.stock.stockName" for="field_stockName">StockName</label>
            <input type="text" class="form-control" name="stockName" id="field_stockName"
                    ng-model="stock.stockName">

            <div ng-show="editForm.stockName.$invalid">
            </div>
        </div>
        <div class="form-group">
            <label translate="gpwradarApp.stock.stockShortName" for="field_stockShortName">StockShortName</label>
            <input type="text" class="form-control" name="stockShortName" id="field_stockShortName"
                    ng-model="stock.stockShortName">

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
