<breadcrumbs translate-path="configurator.title"></breadcrumbs>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
	    <div class="col-lg-6">
	        <div class="ibox float-e-margins">
	            <div class="ibox-title">
	                <h5 translate="configurator.parser.method">parser method</h5>
	                <div ibox-tools></div>
	            </div>
	            <div class="ibox-content">
	            	<form method="get" class="form-horizontal">
		            	<div class="form-group">
		            		<label class="col-lg-2" translate="configurator.parser.select">Select method</label>
		            		<div class="col-lg-10">
		            			<select class="form-control m-b" ng-model="selectedMethod" ng-options="method for method in allMethods"></select>
		            		</div>
			            	<h4 class="col-lg-12" translate="configurator.parser.selectInfo"></h4>
			            	<div class="col-lg-12" ng-switch="selectedMethod">
			            		<div ng-switch-when="GPW" translate="configurator.parser.gpwMethod">GPW</div>
			            		<div ng-switch-when="STOOQ" translate="configurator.parser.stooqMethod">STOOQ</div>
			            	</div>
		            	</div>
	            		<div class="hr-line-dashed"></div>
	                	<button class="btn btn-success" ng-click="setMethod()" translate="configurator.parser.save">Save</button>
	            	</form>
	            </div>
	        </div>
	    </div>
	    
	    <div class="col-lg-6">
	        <div class="ibox float-e-margins">
	            <div class="ibox-title">
	                <h5>Title fill data base</h5>
	                <div ibox-tools></div>
	            </div>
	            <div class="ibox-content">
					{{dupa}}
					<div ng-repeat="data in fillDataStatus track by data.type">
					  <button class="btn btn-success" ng-disabled="isButtonDisabled('{{data.type}}')" translate="configurator.fillData.button.{{data.type}}">{{data.type}}</button>
					</div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
